.cdev-navbar {
  height: 90px;
  background-color: #ffffff;
  box-shadow: 1.5px 2.6px 5px 0 rgba(0, 0, 0, 0.4);
}


.logo {
  padding-top: 8px;
  padding-bottom: 8px;
}

.m-lnk span{
    margin-top: 40px;
    height: 14px;
    display: inline-block;
    cursor: pointer;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    font-stretch: normal;
    letter-spacing: normal;
    text-align: justify;
    color: #5d625e;
}


.m-lnk span:hover{
    color: #53914f;
}
#m-home span{
    margin-left: 70px;
}

#m-serv span{
    margin-left: -30px;
}

#m-hww span{
    margin-left: 15px;
}

#m-fc span{
    margin-left: 15px;
}

#m-contact {
    width: 200px;
    height: 45px;
    opacity: 0.96;
    background-color: #699f41;
    box-shadow: 0.5px 0.9px 1px 0 rgba(0, 0, 0, 0.5);
    margin-top: 24px;
    margin-bottom: 21px;
    margin-left: -15px;
    text-align: center;
    cursor: pointer;
}

#m-contact:hover{
    box-shadow: 0.5px 0.9px 3px 0 rgba(0, 0, 0, 0.5);
    background-color: #5c9f2a;
}

#m-contact:active{
    box-shadow: inset 0.5px 0.9px 3px 0 rgba(0, 0, 0, 0.5);
    background-color: #5c9f2a;
}


#m-contact span {
    width: 147px;
    height: 19px;
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 2;
    letter-spacing: normal;
    text-align: justify;
    color: #ffffff;
    text-transform: uppercase;
    vertical-align: middle;
}

#m-map{
    margin-top: 23px;
    text-align: right;
    padding-right: 0;
    /*margin-left: 5px;*/
}

#m-map img{
    cursor: pointer;
}



/*   <<<INDEX>>>    */

#cont-pqs{
    padding-top: 212px;
    padding-bottom: 80px;
}

#cont-pqs span{
    height: 59px;
    font-family: 'Roboto', sans-serif;
    font-size: 60px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 0.8;
    letter-spacing: normal;
    text-align: justify;
    color: #53914f;
    display: inline-block;
}

#cont-offer-text{
    height: 126px;
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.6;
    letter-spacing: normal;
    text-align: justify;
    -moz-text-align-last: center;
    text-align-last: center;
    color: #4b4b4b;
}

#cont-offer2-text{
    height: 90px;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: 2;
    letter-spacing: normal;
    text-align: justify;
    -moz-text-align-last: center;
    text-align-last: center;
    color: #4b4b4b;
    margin-top: 60px;
    margin-bottom: 41px;
    /*display: block;*/
}

.tech-cont{
    height: 417px;
    background-color: #699f41;
}

#hww-text{
    padding-top: 38px;
}

#hww-text span{
    height: 61px;
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.5;
    letter-spacing: normal;
    color: #ffffff;
}

#hww-text span b{
    font-weight: 600;
}

.wwd-cont{
    margin-top: 52px;
}

.wwd-cont div .wwd-title{
    height: 18px;
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 2;
    letter-spacing: normal;
    text-transform: uppercase;
    display: block;
    margin-top: 11px;
    color: #ffffff;
    margin-bottom: 20px;
}

.wwd-cont div .wwd-subtitle{
    height: 21px;
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 2;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
    display: block;
    margin-top: 12px;
}

.hww-cont{
    height: 420px;
    margin-top: 47px;
}

.hww-text span{
    text-transform: uppercase;
    height: 28px;
    font-family: 'Roboto', sans-serif;
    font-size: 36px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.33;
    letter-spacing: normal;
    text-align: center;
    color: #4b4b4b;
}

.hww-seq{
    margin-top: 35px;
    padding: 0 55px;
}

.hww-circle{
    width: 115px;
    height: 115px;
    background-color: #ffffff;
    border: solid 5px #53914f;
    border-radius: 50%;
}

.hww-circle span{
    font-family: 'Roboto', sans-serif;
    font-size: 48px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1;
    letter-spacing: normal;
    color: #4b4b4b;
    margin-top: 30px;
    display: inline-block;
}

.hww-line{
    background-color: #237446;
    border: solid 2px #53914f;
    margin-bottom: 50px;
    position: absolute;
    top: 55px;
    left: 125px;
    width: 86px;
}

.hww-title{
    display: block;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.33;
    letter-spacing: normal;
    text-align: center;
    color: #4b4b4b;
    margin-top: 40px;
    margin-left: -20px;
}

.hww-lm-btn{
    height: 60px;
    background-color: #ffffff;
    border: solid 3.1px #53914f;
    margin-top: 45px;
    cursor: pointer;
}

.hww-lm-btn:hover{
    background-color: #53914f;
    box-shadow: 0.5px 0.9px 3px 0 rgba(0, 0, 0, 0.5);
}

.hww-lm-btn:hover span{
    color: #ffffff;
}

.hww-lm-btn:active{
    box-shadow: inset 0.5px 0.9px 3px 0 rgba(0, 0, 0, 0.5);
    border: solid 1px #53914f;
}


.hww-lm-btn span{
    height: 19px;
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    font-style: normal;
    font-stretch: normal;
    line-height: 2;
    font-weight: 600;
    letter-spacing: normal;
    text-align: justify;
    color: #53914f;
    text-transform: uppercase;
    margin-top: 5px;
    display: inline-block;
}


.wyg-text span{
    display: inline-block;
    /*margin-top: 45px;*/
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
    font-size: 36px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.33;
    letter-spacing: normal;
    text-align: center;
    color: #4b4b4b;
}

.wyg-cont{
    height: 650px;
    margin-top: 47px;
}

.wyg-title-left{
    height: 73px;
    background-color: #5d625e;
    margin-top: 45px;
}

.wyg-title-left span {
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    font-size: 24px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: left;
    color: #ffffff;
    display: inline-block;

}

.wyg-title-left #wyg-sd{
    margin-top: 21px;
}

.wyg-title-left #wyg-atp{
    margin-top: 4px;
}

.wyg-list-cont{
    margin-top: 30px;
}


.wyg-list-cont span{
    font-size: 22px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: left;
    color: #4b4b4b;
    font-family: 'Roboto', sans-serif;
    display: block;
}

.wyg-extra-cont{
    height: 110px;
    background-color: #5d625e;

}

.wyg-extra-cont div div span{
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: left;
    color: #ffffff;
    text-transform: uppercase;
}

.wyg-extra-one{
    margin-top: 40px;
    display: inline-block;
}

.wyg-extra-two{
    margin-top: 20px;
    display: inline-block;
}

.consult-cont{
    height: 360px;
}

.consult-text{
    height: 120px;
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.6;
    letter-spacing: normal;
    text-align: justify;
    -moz-text-align-last: center;
    text-align-last: center;
    color: #4b4b4b;
    margin-top: 60px;
}


#consult-btn {
    height: 60px;
    opacity: 0.96;
    background-color: #699f41;
    box-shadow: 0.5px 0.9px 1px 0 rgba(0, 0, 0, 0.5);
    text-align: center;
    cursor: pointer;
    margin-top: 60px;
}

#consult-btn:hover{
    box-shadow: 0.5px 0.9px 3px 0 rgba(0, 0, 0, 0.5);
    background-color: #5c9f2a;
}

#consult-btn:active{
    box-shadow: inset 0.5px 0.9px 3px 0 rgba(0, 0, 0, 0.5);
    background-color: #5c9f2a;
}


#consult-btn span {
    height: 19px;
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 2;
    letter-spacing: normal;
    text-align: justify;
    color: #ffffff;
    text-transform: uppercase;
    vertical-align: middle;
    margin-top: 7px;
    display: inline-block;
}


.clients-cont {
    height: 361px;
    background-color: #699f41;
}

.clients-text{
    font-family: 'Roboto', sans-serif;
    font-size: 36px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.33;
    letter-spacing: normal;
    text-align: center;
    color: #5d625e;
    display: inline-block;
    margin-top: 45px;
    opacity: 0.7;
    mix-blend-mode: multiply;
    background-color: #ffffff;
}

.clients-logos{
    margin-top: 40px;
}

.clients-logos div img{
    opacity: 0.7;
    mix-blend-mode: multiply;
    background-color: #ffffff;
}

.vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
}

.cform-text{
    font-family: 'Roboto', sans-serif;
    font-size: 36px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.33;
    letter-spacing: normal;
    text-align: center;
    color: #4b4b4b;
    margin-top: 85px;
    display: inline-block;
}

.cform-field *{
    width: 100%;
    background-color: #ffffff;
    border: solid 3px #53914f;
    font-size: 24px;
    padding: 10px;
}

#cform-name{
    margin-top: 50px;
    margin-bottom: 25px;
    height: 60px;
}

#cform-mail{
    height: 60px;
    margin-bottom: 60px;
}

#cform-text{
    height: 120px;
}

#cform-send-btn {
    height: 60px;
    opacity: 0.96;
    background-color: #699f41;
    box-shadow: 0.5px 0.9px 1px 0 rgba(0, 0, 0, 0.5);
    text-align: center;
    cursor: pointer;
    margin-top: 60px;
    padding: 0 0;
}

#cform-send-btn:hover{
    box-shadow: 0.5px 0.9px 3px 0 rgba(0, 0, 0, 0.5);
    background-color: #5c9f2a;
}

#cform-send-btn:active{
    box-shadow: inset 0.5px 0.9px 3px 0 rgba(0, 0, 0, 0.5);
    background-color: #5c9f2a;
}


#cform-send-btn span {
    height: 19px;
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 2;
    letter-spacing: normal;
    text-align: justify;
    color: #ffffff;
    text-transform: uppercase;
    vertical-align: middle;
    margin-top: 7px;
    display: inline-block;
}

.cdev-footer-menu div{
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 2;
    letter-spacing: normal;
    text-align: justify;
    color: #ffffff;
    display: block;
    text-transform: uppercase;
    cursor: pointer;
}

.cdev-footer-menu div:hover{
    color: #53914f;
}

.cdev-footer{
  height: 330px;
  background-color: #4b4b4b;
  margin-top: 90px;
  padding-top: 65px;
}

.cdev-footer-addr *, .cdev-footer-contacts *{
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 2;
    letter-spacing: normal;
    color: #ffffff;
}

.cdev-footer-contacts span{
    margin-left: 40px;
}
.cdev-footer-addr{
    padding-right: 0
}

a:hover{
    color: #53914f;
    text-decoration: none;
}

.cdev-copyright{
    height: 33px;
    background-color: #699f41;
}

.cdev-copyright span{
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: normal;
    color: #4b4b4b;
    display: inline-block;
    margin-top: 7px;
    vertical-align: middle;
}

